Restaurant.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="restaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="details" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:long" name="mobileno"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:byte" name="capacity"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="timings"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>